
.container{
    background-image: url('../../assets/bgk.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-control.mr-sm-2{
box-shadow:0 0 5px 5px rgba(0, 0, 0, .4);
}
img{
    object-fit: cover;
}
.fas {
    cursor: pointer;
  }